* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto !important;
  background-color: hsl(0, 0%, 81%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 13px;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 3rem;
}

.card {
  padding: 1rem;
  border-radius: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}

.accent-border {
  border-width: 2px;
  border-style: solid;
  border-color: hsl(263, 55%, 52%);
}

.child-1 {
  background-color: hsl(263, 55%, 52%);
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 450px top;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  color: hsl(0, 0%, 100%);
}

.child-2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 1;
}

.child-3 {
  background-color: hsl(0, 0%, 100%);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.child-4 {
  background-color: hsl(219, 29%, 14%);
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 2;
}

.child-5 {
  background-color: hsl(0, 0%, 100%);
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: span 2;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.child-1 h2{
  color: hsl(0, 0%, 100%);
}

.child-1 h2 {
  color: hsl(0, 0%, 100%);
}

.child-2 h2 {
  color: hsl(0, 0%, 100%);
}

.child-2 .card__name {
  color: hsl(210, 46%, 95%);
}

.card__title {
  color: hsl(210, 46%, 95%);
  opacity: 0.5;
}

.card-text {
  opacity: .7;
  font-weight: 500;
}

.child-3 .card__name {
  color: hsl(219, 29%, 14%);
}

.child-3 .card__title {
  color: hsl(219, 29%, 14%);
  font-weight: 500;
}

.child-3 .card-text {
  color: hsl(219, 29%, 14%);
  opacity: .7;
}

.child-4 h2 {
  color: hsl(0, 0%, 100%);
}

.child-4 .card__name {
  color: hsl(210, 46%, 95%);
}

.card__title {
  color: hsl(210, 46%, 95%);
  opacity: .7;
}

.child-4 .card-text {
  color: hsl(210, 46%, 95%);
  opacity: .5;
}

.child-5 .card__name, .child-5 h2 {
  color: hsl(217, 19%, 35%);
}

.child-5 .card__title {
  color: hsl(217, 19%, 35%);
  opacity: .5;
}

.child-5 p {
  color: hsl(219, 29%, 14%);
}

@media screen and (max-width: 400px) {
  .container {
    grid-template-rows: auto !important;
  }
  .child-1 {
    background-position: 170px top;
    grid-column-start: 2;
    grid-column-end: 12;
  }

  .child-2 {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .child-3 {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .child-4 {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .child-5 {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 5;
  }
}